@page "/teachers/details"
@inject SMS.CimContext DB
@using SMS.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    @if (teacher is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <AntDesign.Card Title="教师详细信息">
            <AntDesign.Descriptions Bordered="true" Column="1">
                <AntDesign.DescriptionsItem Title="教师号(TID)">@teacher.TID</AntDesign.DescriptionsItem>
                <AntDesign.DescriptionsItem Title="姓名">@teacher.Name</AntDesign.DescriptionsItem>
                <AntDesign.DescriptionsItem Title="年龄">@teacher.Age</AntDesign.DescriptionsItem>
                <AntDesign.DescriptionsItem Title="专业">@teacher.Major</AntDesign.DescriptionsItem>
                <AntDesign.DescriptionsItem Title="邮箱">@teacher.Email</AntDesign.DescriptionsItem>
            </AntDesign.Descriptions>
            
            <div style="margin-top: 16px;">
                <AntDesign.Button Type="@AntDesign.ButtonType.Primary" @onclick="@(() => NavigationManager.NavigateTo($"/teachers/edit?id={teacher.Id}"))">编辑</AntDesign.Button>
                <AntDesign.Button style="margin-left: 8px;" @onclick="@(() => NavigationManager.NavigateTo("/teachers"))">返回列表</AntDesign.Button>
            </div>
        </AntDesign.Card>
    }
</div>

@code {
    Teacher? teacher;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        teacher = await DB.SMS_Teachers.FirstOrDefaultAsync(m => m.Id == Id);

        if (teacher is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
